.RelatedItem {
	background-color: #ffffff;
	border-radius: 12px;
	width: fit-content;
	padding: 1.3rem;
	.RelatedItemContainer {
		height: 400px;
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-direction: column;
		.imgContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 180px;

			img {
				height: 103px;
				width: 141px;
			}
		}

		.offerHead {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 0.3rem;
			.offer,
			.time {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 28px;
				width: fit-content;
				padding: 0 5px;
				border-radius: 8px;
				background-color: #f2f4f7;
				color: #074786;
				font-weight: 400;
				size: 13px;
				line-height: 20px;
			}
		}
		.header {
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			margin-left: 4rem;
			color: #626e79;
		}
		.details {
			height: 48px;
			width: 284px;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			color: #626e79;
		}
		.priceContainer {
			display: flex;
			justify-content: start;
			align-items: end;
			gap: 0.5rem;
			.a {
				font-size: 20px;
				font-weight: 400;
				line-height: 28px;
				color: #5c6874;
			}
			.b {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: #9fa9b3;
			}
			.c {
				font-size: 13px;
				font-weight: 400;
				line-height: 20px;
				color: #ef4c5d;
			}
		}
		button {
			width: 292px;
			height: 48px;
			font-weight: 400;
			font-size: 16px;
			color: #ffffff;
			line-height: 24px;
			border: none;
			background-color: #1b88f4;
			border-radius: 12px;
		}
	}
}
