.Wrapper {
	margin: 0 auto;
	width: 70%;
	height: fit-content;

	.subWrapper {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin-top: 2rem;
		flex-direction: column;
		padding-bottom: 10px;
		gap: 2rem;
		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #ffffff;
			border-radius: 12px;
			height: 255px;

			width: 1024px;
			.itemBody {
				display: flex;
				position: relative;
				justify-content: space-between;
				align-items: center;
				height: 218px;
				width: 100%;
				.tag {
					position: absolute;
					display: flex;
					justify-content: space-between;
					align-items: start;
					gap: 12px;
					top: 0;
					top: -2rem;
					left: -1rem;
					flex-direction: column;
					.title {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 34px;
						gap: 0.5rem;
						font-size: 16px;
						width: 136px;
						margin-left: 1rem;
						color: #ffffff;
						background-color: #ff7724;
						border-radius: 0 8px 8px 0;
					}
					.no {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 35px;
						width: 35px;
						font-size: 20px;
						line-height: 28px;
						font-weight: 400;
						color: #626e79;
						border: 1px solid #e1e4e6;
						border-radius: 50%;
						background-color: #ffffff;
					}
				}
				.imgContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 1rem;
					height: 218px;
					width: 218px;
					img {
						height: 103px;
						width: 141px;
					}
				}
				.bodyContainer {
					height: 218px;
					width: 505px;
					padding-left: 2rem;
					.mainDetails {
						height: 72px;
						width: 490px;
						.heading {
							color: #4b5665;
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
						}
						.details {
							font-weight: 400;
							font-size: 16px;
							width: 490px;
							height: 72px;
							line-height: 24px;
							color: #4b5665;
						}
					}

					.subHeadingContainer {
						height: 96px;
						margin: auto;
						.subheading {
							margin-top: 0;
							color: #2c384a;
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
						}
						.subDetails {
							height: 72px;
							width: 483px;
							font-weight: 400;
							font-size: 16px;
							line-height: 24px;
							color: #4b5665;
							margin-left: 1rem;
						}
					}
					.showMore {
						display: flex;
						justify-content: start;
						align-items: center;
						margin-top: 1.7rem;
						gap: 5px;
						font-weight: 400;
						font-size: 16px;
						color: #1b88f4;
					}
				}
				.ratingContainer {
					display: flex;
					justify-content: end;
					position: relative;
					align-items: center;
					flex-direction: column;
					height: 218px;
					width: 232px;
					margin-right: 1.5rem;
					.ratingBanner {
						position: absolute;
						display: flex;
						justify-content: start;
						align-items: center;
						flex-direction: column;
						height: 118px;
						top: -1.2rem;
						width: 135px;
						border-radius: 0 0 12px 12px;
						background-color: #f3f9ff;
						.info {
							position: absolute;
							margin-left: 4rem;
							color: #babec3;
						}
						.rate {
							color: #074786;
							font-weight: 400;
							margin-top: 0.5rem;
							line-height: 48px;
							font-size: 32px;
						}
						.label {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							color: #074786;
						}
						.stars {
							color: #ffb80f;
						}
					}
					button {
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
						text-align: center;
						height: 48px;
						width: 232px;
						border: none;
						color: #ffffff;
						background-color: #1b88f4;
						border-radius: 12px;
					}
				}
			}
		}

		.CDKitem {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #ffffff;
			border-radius: 12px;
			height: 436px;
			width: 1024px;
			.CDKitemBody {
				display: flex;
				position: relative;
				justify-content: space-between;
				align-items: center;
				height: 382px;
				width: 100%;
				.tag {
					position: absolute;
					display: flex;
					justify-content: space-between;
					align-items: start;
					gap: 12px;
					top: 0;
					top: -2rem;
					left: -1rem;
					flex-direction: column;
					.title {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 34px;
						gap: 0.5rem;
						font-size: 16px;
						width: 136px;
						margin-left: 1rem;
						color: #ffffff;
						background-color: #ff7724;
						border-radius: 0 8px 8px 0;
					}
					.no {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 35px;
						width: 35px;
						font-size: 20px;
						line-height: 28px;
						font-weight: 400;
						color: #626e79;
						border: 1px solid #e1e4e6;
						border-radius: 50%;
						background-color: #ffffff;
					}
				}
				.imgContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 1rem;
					height: 382px;
					width: 218px;
					img {
						height: 103px;
						width: 141px;
					}
				}
				.bodyContainer {
					display: flex;
					flex-direction: column;
					height: 382px;
					width: 505px;
					padding-left: 2rem;
					.mainDetails {
						height: 48px;
						width: 503px;
						.heading {
							color: #4b5665;
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
						}
						.details {
							font-weight: 400;
							font-size: 16px;
							width: 490px;
							height: 72px;
							line-height: 24px;
							color: #4b5665;
						}
					}

					.offer {
						display: flex;
						justify-content: center;
						align-items: center;
						height: 26px;
						width: 61px;
						border-radius: 4px;
						background-color: #f2f4f7;
						color: #074786;
						font-weight: 400;
						size: 13px;
						line-height: 20px;
					}

					.subHeadingContainer {
						margin: auto;
						.subheading {
							margin-top: 0;
							color: #2c384a;
							font-weight: 700;
							font-size: 16px;
							line-height: 24px;
						}
						.subSDKDetails {
							display: flex;
							justify-content: space-around;
							align-items: start;
							flex-direction: column;
							height: 116px;
							width: 505px;
							border-radius: 12px;
							margin-left: 1rem;
							background-color: #fff4ed;
							.list {
								display: flex;
								justify-content: space-around;
								align-items: center;
								gap: 0.5rem;
								margin-left: 0.5rem;
								.num {
									display: flex;
									justify-content: center;
									align-items: center;
									height: 28px;
									width: 40px;
									border-radius: 4px;
									background-color: #ffffff;
									font-size: 16px;
									font-weight: 400;
									line-height: 24px;
									color: #1b88f4;
								}
								label {
									font-size: 16px;
									line-height: 24px;
									font-weight: 400;
									color: #4b5665;
								}
							}
						}
					}

					.whyContainer {
						.subWhyheading {
							font-size: 16px;
							font-weight: 400;
							line-height: 24px;
							color: #2c384a;
							margin: 1rem 0;
						}
						.list {
							display: flex;
							justify-content: start;
							align-items: center;
							gap: 0.5rem;
							margin-bottom: 0.5rem;
							.icon {
								display: flex;
								justify-content: center;
								align-items: center;
								height: 24px;
								width: 24px;
								background-color: #ebf5ff;
								border-radius: 50%;
								color: #0855a1;
							}
							label {
								font-size: 15px;
								font-weight: 400;
								line-height: 24px;
								color: #4b5665;
							}
						}
					}

					.showMore {
						display: flex;
						justify-content: start;
						align-items: center;
						gap: 5px;
						font-weight: 400;
						font-size: 16px;
						color: #1b88f4;
					}
				}
				.ratingContainer {
					display: flex;
					justify-content: end;
					position: relative;
					align-items: center;
					flex-direction: column;
					height: 382px;
					width: 232px;
					margin-right: 1.5rem;
					.ratingBanner {
						position: absolute;
						display: flex;
						justify-content: start;
						align-items: center;
						flex-direction: column;
						height: 118px;
						top: -1.7rem;
						width: 135px;
						border-radius: 0 0 12px 12px;
						background-color: #f3f9ff;

						.rate {
							color: #074786;
							font-weight: 400;
							margin-top: 0.5rem;
							line-height: 48px;
							font-size: 32px;
						}
						.label {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							color: #074786;
						}
						.stars {
							color: #ffb80f;
						}
					}
					button {
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
						text-align: center;
						height: 48px;
						width: 232px;
						border: none;
						color: #ffffff;
						background-color: #1b88f4;
						border-radius: 12px;
					}
				}
			}
		}

		h1.relatedHeader {
			margin: 3rem 0 0;
		}
		.relatedDealContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}

		.signUpContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 900px;
			height: 171px;
			margin-left: 4rem;
			label {
				font-size: 32px;
				font-weight: 400;
				line-height: 44px;
				width: 398px;
				height: 88px;
				color: #5c6874;
			}
			.form {
				display: flex;
				justify-content: center;
				align-items: center;

				input {
					height: 52px;
					outline: none;
					border: navajowhite;
				}
				button {
					width: 97px;
					height: 52px;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					border-radius: 0 12px 12px 0;
					background-color: #1b88f4;
					color: #ffffff;
				}
			}
		}
	}
}
