$mobile: 640px;

@mixin fontStyle($fontSize, $fontWeight, $lineHeight) {
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
}

@mixin flex($direction, $gap, $justifyContent, $alignItems) {
	display: flex;
	justify-content: $justifyContent;
	align-items: $alignItems;
	flex-direction: $direction;
	gap: $gap;
}

.Wrapper {
	margin: 0 auto;
	width: 70%;
	height: fit-content;
	@media screen and (max-width: $mobile) {
		width: 89%;
		border: 1px solid red;
	}
	.subWrapper {
		@include flex(column, 2rem, space-between, start);
		margin-top: 2rem;
		padding-bottom: 10px;
		.item {
			@include flex(row, 0, space-between, center);
			background-color: #ffffff;
			border-radius: 12px;
			height: 255px;
			width: 1024px;
			@media screen and (max-width: $mobile) {
				width: 100%;
				border: 1px solid black;
			}
			.itemBody {
				@include flex(row, 0, space-between, center);
				position: relative;
				height: 218px;
				width: 100%;
				.bodyContainer {
					height: 218px;
					width: 505px;
					padding-left: 2rem;
					@media screen and (max-width: $mobile) {
						width: 200px;
						border: 1px solid black;
					}
					.mainDetails {
						height: 72px;
						width: 490px;
					}

					.subHeadingContainer {
						height: 96px;
						margin: auto;
						.subDetails {
							@include fontStyle(16px, 400, 24px);
							height: 72px;
							width: 483px;
							color: #4b5665;
							margin-left: 1rem;
							@media screen and (max-width: $mobile) {
								@include fontStyle(14px, 400, 20px);
							}
						}
					}
				}
			}
		}

		.tag {
			@include flex(column, 12px, space-between, start);
			position: absolute;
			top: 0;
			top: -2rem;
			left: -1rem;
			@media screen and (max-width: $mobile) {
				left: -0.8rem;
			}
			.title {
				@include flex(row, 0.5rem, center, center);
				height: 34px;
				font-size: 16px;
				width: 136px;
				margin-left: 1rem;
				color: #ffffff;
				background-color: #ff7724;
				border-radius: 0 8px 8px 0;
				@media screen and (max-width: $mobile) {
					height: 20px;
					font-size: 13px;
					width: 106px;
				}
			}
			.no {
				@include flex(row, 0, center, center);
				@include fontStyle(20px, 400, 28px);
				height: 35px;
				width: 35px;
				color: #626e79;
				border: 1px solid #e1e4e6;
				border-radius: 50%;
				background-color: #ffffff;
				@media screen and (max-width: $mobile) {
					@include fontStyle(17px, 400, 28px);
					height: 25px;
					width: 25px;
				}
			}
		}
		.imgContainer {
			@include flex(column, 1rem, center, center);
			height: 218px;
			width: 218px;
			// @media screen and (max-width: $mobile) {
			// 	height: 218px;
			// 	max-width: 60px;
			// 	width: 100%;
			// 	border: 1px solid green;
			// }
			img {
				height: 23px;
				width: 21px;
				@media screen and (max-width: $mobile) {
					height: 23px;
					width: 21px;
				}
			}
			label {
				@include fontStyle(13px, 400, 28px);
			}
		}

		.heading {
			@include fontStyle(16px, 700, 24px);
			color: #4b5665;
		}
		.details {
			@include fontStyle(16px, 400, 24px);
			width: 490px;
			height: 72px;
			color: #4b5665;
		}

		.subheading {
			margin-top: 0;
			color: #2c384a;
			@include fontStyle(16px, 700, 24px);
		}

		.showMore {
			@include flex(row, 5px, start, center);
			@include fontStyle(16px, 400, 24px);
			margin-top: 1.7rem;
			color: #1b88f4;
		}

		.ratingContainer {
			@include flex(column, 0, end, center);
			position: relative;
			height: 218px;
			width: 232px;
			margin-right: 1.5rem;
			.ratingBanner {
				@include flex(column, 0, start, center);
				position: absolute;
				height: 118px;
				top: -1.2rem;
				width: 135px;
				border-radius: 0 0 12px 12px;
				background-color: #f3f9ff;
				.info {
					position: absolute;
					margin-left: 4rem;
					color: #babec3;
				}
				.rate {
					@include fontStyle(32px, 400, 48px);
					color: #074786;
					margin-top: 0.5rem;
				}
				.label {
					@include fontStyle(14px, 400, 20px);
					color: #074786;
				}
				.stars {
					color: #ffb80f;
				}
			}
			button {
				@include fontStyle(16px, 400, 24px);
				text-align: center;
				height: 48px;
				width: 232px;
				border: none;
				color: #ffffff;
				background-color: #1b88f4;
				border-radius: 12px;
			}
		}

		.CDKitem {
			@include flex(row, 0, space-between, center);
			background-color: #ffffff;
			border-radius: 12px;
			height: 436px;
			width: 1024px;
			.CDKitemBody {
				@include flex(row, 0, space-between, center);
				position: relative;
				height: 382px;
				width: 100%;
				.bodyContainer {
					display: flex;
					flex-direction: column;
					height: 382px;
					width: 505px;
					padding-left: 2rem;
					.mainDetails {
						height: 48px;
						width: 503px;
					}

					.offer {
						@include flex(row, 0, center, center);
						@include fontStyle("", 400, 20px);
						height: 26px;
						width: 61px;
						border-radius: 4px;
						background-color: #f2f4f7;
						color: #074786;
						size: 13px;
					}

					.subHeadingContainer {
						margin: auto;
						margin-left: 0;
						.subSDKDetails {
							@include flex(column, 0, space-around, start);
							height: 116px;
							width: 470px;
							border-radius: 12px;
							margin-left: 1rem;
							background-color: #fff4ed;
							.list {
								@include flex(row, 0.5rem, space-around, center);
								margin-left: 0.5rem;
								.num {
									@include flex(row, 0, center, center);
									@include fontStyle(16px, 400, 24px);
									height: 28px;
									width: 40px;
									border-radius: 4px;
									background-color: #ffffff;
									color: #1b88f4;
								}
								label {
									@include fontStyle(16px, 400, 24px);
									color: #4b5665;
								}
							}
						}
					}

					.whyContainer {
						.subWhyheading {
							@include fontStyle(16px, 400, 24px);
							color: #2c384a;
							margin: 1rem 0;
						}
						.list {
							@include flex(row, 0.5rem, start, center);
							margin-bottom: 0.5rem;
							.icon {
								@include flex(row, 0, center, center);
								height: 24px;
								width: 24px;
								background-color: #ebf5ff;
								border-radius: 50%;
								color: #0855a1;
							}
							label {
								@include fontStyle(15px, 400, 24px);
								color: #4b5665;
							}
						}
					}
					.showMore {
						margin-top: 0;
					}
				}
				.ratingContainer {
					height: 382px;
					width: 232px;
					.ratingBanner {
						top: -1.7rem;
					}
				}
			}
		}

		h1.relatedHeader {
			margin: 3rem 0 0;
		}
		.relatedDealContainer {
			@include flex(row, 1rem, center, center);
		}

		.signUpContainer {
			@include flex(row, 0, space-between, center);
			width: 900px;
			height: 171px;
			margin-left: 4rem;
			label {
				@include fontStyle(32px, 400, 44px);
				width: 398px;
				height: 88px;
				color: #5c6874;
			}
			.form {
				@include flex(row, 0, center, center);

				input {
					height: 52px;
					outline: none;
					border: navajowhite;
				}
				button {
					@include fontStyle(14px, 400, 20px);
					width: 97px;
					height: 52px;
					border-radius: 0 12px 12px 0;
					background-color: #1b88f4;
					color: #ffffff;
					border: none;
				}
			}
		}
	}
}
