$mobile: 640px;

@mixin fontStyle {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #4b5665;
}
@mixin flex($direction, $gap, $justifyContent) {
	display: flex;
	justify-content: $justifyContent;
	align-items: center;
	flex-direction: $direction;
	gap: $gap;
}

.main {
	h1 {
		font-size: 48px;
		line-height: 60px;
		font-weight: 400;
		color: #2c384a;
		font-size: 3rem;
		margin-bottom: 0.5rem;
		@media screen and (max-width: $mobile) {
			font-size: 30px;
			width: 100%;
			text-align: center;
			line-height: 40px;
		}
	}
	.hr {
		height: 2px;
		background-color: #e1e4e6;
		@media screen and (max-width: $mobile) {
			height: 1px;
		}
	}
	.wrapperUp {
		@include flex(row, 0rem, space-between);
		@media screen and (max-width: $mobile) {
			@include flex(row, 1rem, space-between);
		}
		padding: 0.6rem 0;
		.left {
			@include flex(row, 2rem, space-between);
			@media screen and (max-width: $mobile) {
				@include flex(row, 0.3rem, space-between);
			}
			.leftInner {
				@include fontStyle;
				@include flex(row, 0.5rem, space-between);
				@media screen and (max-width: $mobile) {
					@include flex(row, 0.3rem, space-between);
					font-size: 10px;
					line-height: 16px;
				}
			}
		}
		.right {
			@include fontStyle;
			@include flex(row, 0.5rem, space-between);
			@media screen and (max-width: $mobile) {
				@include flex(row, 0.3rem, space-between);
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
	.wrapperMid {
		@include flex(row, 0rem, space-between);
		height: 70px;
		width: 80%;
		@media screen and (max-width: $mobile) {
			@include flex(row, 1rem, start);
			width: 100%;
			overflow-x: scroll;
		}
		label {
			@include fontStyle;
			@include flex(row, 0rem, start);
			padding: 0.5rem 2rem 0.5rem 1rem;
			border-radius: 12px;
			background-color: #ffffff;
			@media screen and (max-width: $mobile) {
				padding: 0.5rem;
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
	.wrapperDown {
		@include flex(row, 0.5rem, start);
		margin-left: 1rem;
		@media screen and (max-width: $mobile) {
			overflow-x: scroll;
		}
		label {
			@include fontStyle;
			font-size: 13px;
			color: #727d87;
			@media screen and (max-width: $mobile) {
				font-size: 9px;
				line-height: 16px;
			}
		}
	}
}
